.header {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10%;
  text-shadow: -1px -1px 0 rgb(253, 252, 252), 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
